:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --white: #ffffff;
  --black: #526581;
  --background: #f8f8f8;
  --accent: #4A63F1;
  --accent-hover: #334DE0;
  --success: #7ED321;
  --error: #F01C2C;

  --primary-color: var(--accent);
  --primary-color-hover: var(--accent-hover);
  --secondary-color: #EDEFF5;
  --secondary-color-hover: #EDEFF5;
  /* colors end */

  background-color: var(--background);
  color: var(--black);
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}